# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

#other
.dart_tool
.idea
/android
/build
/ios
/linux
/macos
/web
.metadata
analysis_options.yaml
outfit_me.iml
pubspec.lock
/windows

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/clTest/.vs/clTest/v17/ipch/AutoPCH/5c3f43867b28cec5/CLTEST.ipch
/clTest/.vs/clTest/v17/ipch/AutoPCH/5cc90ac8efbfcb23/CLTEST.ipch
/clTest/.vs/clTest/v17/ipch/AutoPCH/3e95ccc974d1a63b/CLTEST.ipch
/clTest/x64/Debug/opencv_world4100d.dll
